* text=auto !eol
/.cvsignore svn_keywords=Author+Date+Id+Revision
DOCS/AUTHORS svn_keywords=Author+Date+Id+Revision
DOCS/CODECS svn_keywords=Author+Date+Id+Revision
DOCS/ChangeLog svn_keywords=Author+Date+Id+Revision
DOCS/ChangeLog.mpeg svn_keywords=Author+Date+Id+Revision
DOCS/DEBIAN svn_keywords=Author+Date+Id+Revision
DOCS/INSTALL svn_keywords=Author+Date+Id+Revision
DOCS/LIRC svn_keywords=Author+Date+Id+Revision
DOCS/MPlayer-FAQ svn_keywords=Author+Date+Id+Revision
DOCS/MTRR svn_keywords=Author+Date+Id+Revision
DOCS/OpenDivX svn_keywords=Author+Date+Id+Revision
DOCS/README svn_keywords=Author+Date+Id+Revision
DOCS/SOUNDCARDS svn_keywords=Author+Date+Id+Revision
DOCS/SPEED svn_keywords=Author+Date+Id+Revision
DOCS/TODO svn_keywords=Author+Date+Id+Revision
DOCS/VIDEOCARDS svn_keywords=Author+Date+Id+Revision
DOCS/example.conf svn_keywords=Author+Date+Id+Revision
DOCS/inttypes.h svn_keywords=Author+Date+Id+Revision
DOCS/mplayer.1 svn_keywords=Author+Date+Id+Revision
DOCS/tech/general.txt svn_keywords=Author+Date+Id+Revision
DOCS/tech/tech-hun.txt svn_keywords=Author+Date+Id+Revision
/Makefile svn_keywords=Author+Date+Id+Revision
/Makefile.DS svn_keywords=Author+Date+Id+Revision
TOOLS/GL-test/compile.sh svn_keywords=Author+Date+Id+Revision
TOOLS/GL-test/gltest.c svn_keywords=Author+Date+Id+Revision
TOOLS/asfinfo.c svn_keywords=Author+Date+Id+Revision
TOOLS/audio-block.c svn_keywords=Author+Date+Id+Revision
TOOLS/audio-select.c svn_keywords=Author+Date+Id+Revision
TOOLS/c svn_keywords=Author+Date+Id+Revision
TOOLS/movinfo.c svn_keywords=Author+Date+Id+Revision
TVout/Mon-640x400 svn_keywords=Author+Date+Id+Revision
TVout/Mon-640x480 svn_keywords=Author+Date+Id+Revision
TVout/TV-640x512 svn_keywords=Author+Date+Id+Revision
TVout/TV-640x528 svn_keywords=Author+Date+Id+Revision
TVout/TV-704x528 svn_keywords=Author+Date+Id+Revision
TVout/TV-704x576 svn_keywords=Author+Date+Id+Revision
TVout/TV-720x576 svn_keywords=Author+Date+Id+Revision
TVout/TV-720x576-old svn_keywords=Author+Date+Id+Revision
TVout/clean.sh svn_keywords=Author+Date+Id+Revision
TVout/cloning svn_keywords=Author+Date+Id+Revision
TVout/compile.sh svn_keywords=Author+Date+Id+Revision
TVout/con2fb/con2fb.c svn_keywords=Author+Date+Id+Revision
TVout/fbset.db svn_keywords=Author+Date+Id+Revision
TVout/fbset/INSTALL svn_keywords=Author+Date+Id+Revision
TVout/fbset/Makefile svn_keywords=Author+Date+Id+Revision
TVout/fbset/fb.h svn_keywords=Author+Date+Id+Revision
TVout/fbset/fb.modes.5 svn_keywords=Author+Date+Id+Revision
TVout/fbset/fbset.8 svn_keywords=Author+Date+Id+Revision
TVout/fbset/fbset.c svn_keywords=Author+Date+Id+Revision
TVout/fbset/fbset.h svn_keywords=Author+Date+Id+Revision
TVout/fbset/modeline2fb svn_keywords=Author+Date+Id+Revision
TVout/fbset/modes.l svn_keywords=Author+Date+Id+Revision
TVout/fbset/modes.y svn_keywords=Author+Date+Id+Revision
TVout/independ svn_keywords=Author+Date+Id+Revision
TVout/matroxset/Makefile svn_keywords=Author+Date+Id+Revision
TVout/matroxset/fb.h svn_keywords=Author+Date+Id+Revision
TVout/matroxset/matroxfb.h svn_keywords=Author+Date+Id+Revision
TVout/matroxset/matroxset.c svn_keywords=Author+Date+Id+Revision
TVout/matroxset/normal svn_keywords=Author+Date+Id+Revision
TVout/matroxset/swapit svn_keywords=Author+Date+Id+Revision
TVout/matroxset/swapped svn_keywords=Author+Date+Id+Revision
TVout/modules svn_keywords=Author+Date+Id+Revision
/alaw.c svn_keywords=Author+Date+Id+Revision
/asfheader.c svn_keywords=Author+Date+Id+Revision
/aviheader.c svn_keywords=Author+Date+Id+Revision
/aviparse.c svn_keywords=Author+Date+Id+Revision
/aviprint.c svn_keywords=Author+Date+Id+Revision
/aviwrite.c svn_keywords=Author+Date+Id+Revision
/cfg-mplayer-def.h svn_keywords=Author+Date+Id+Revision
/cfg-mplayer.h svn_keywords=Author+Date+Id+Revision
/cfgparser.c svn_keywords=Author+Date+Id+Revision
/cfgparser.h svn_keywords=Author+Date+Id+Revision
/codecctrl.c svn_keywords=Author+Date+Id+Revision
/codecs.c svn_keywords=Author+Date+Id+Revision
/configure svn_keywords=Author+Date+Id+Revision
debian/README.debian svn_keywords=Author+Date+Id+Revision
debian/changelog svn_keywords=Author+Date+Id+Revision
debian/control svn_keywords=Author+Date+Id+Revision
debian/copyright svn_keywords=Author+Date+Id+Revision
debian/dirs svn_keywords=Author+Date+Id+Revision
debian/files svn_keywords=Author+Date+Id+Revision
debian/rules svn_keywords=Author+Date+Id+Revision
debian/substvars svn_keywords=Author+Date+Id+Revision
/demux_asf.c svn_keywords=Author+Date+Id+Revision
/demux_avi.c svn_keywords=Author+Date+Id+Revision
/demux_mpg.c svn_keywords=Author+Date+Id+Revision
/demuxer.c svn_keywords=Author+Date+Id+Revision
/dll_init.c svn_keywords=Author+Date+Id+Revision
drivers/3dfx.h svn_keywords=Author+Date+Id+Revision
drivers/Makefile svn_keywords=Author+Date+Id+Revision
drivers/README svn_keywords=Author+Date+Id+Revision
drivers/mga_vid.c svn_keywords=Author+Date+Id+Revision
drivers/mga_vid.h svn_keywords=Author+Date+Id+Revision
drivers/mga_vid_test.c svn_keywords=Author+Date+Id+Revision
drivers/sis_vid.c svn_keywords=Author+Date+Id+Revision
drivers/sis_vid.h svn_keywords=Author+Date+Id+Revision
/fifo.c svn_keywords=Author+Date+Id+Revision
/help_avp.h svn_keywords=Author+Date+Id+Revision
/help_mp.h svn_keywords=Author+Date+Id+Revision
liba52/srfftp.h svn_keywords=Author+Date+Id+Revision
libmpeg2/Makefile svn_keywords=Author+Date+Id+Revision
libmpeg2/attributes.h svn_keywords=Author+Date+Id+Revision
libmpeg2/decode.c svn_keywords=Author+Date+Id+Revision
libmpeg2/header.c svn_keywords=Author+Date+Id+Revision
libmpeg2/idct.c svn_keywords=Author+Date+Id+Revision
libmpeg2/idct_mlib.c svn_keywords=Author+Date+Id+Revision
libmpeg2/idct_mmx.c svn_keywords=Author+Date+Id+Revision
libmpeg2/mm_accel.h svn_keywords=Author+Date+Id+Revision
libmpeg2/mmx.h svn_keywords=Author+Date+Id+Revision
libmpeg2/motion_comp.c svn_keywords=Author+Date+Id+Revision
libmpeg2/motion_comp_mlib.c svn_keywords=Author+Date+Id+Revision
libmpeg2/motion_comp_mmx.c svn_keywords=Author+Date+Id+Revision
libmpeg2/mpeg2.h svn_keywords=Author+Date+Id+Revision
libmpeg2/mpeg2_internal.h svn_keywords=Author+Date+Id+Revision
libmpeg2/slice.c svn_keywords=Author+Date+Id+Revision
libmpeg2/sse.h svn_keywords=Author+Date+Id+Revision
libmpeg2/stats.c svn_keywords=Author+Date+Id+Revision
libmpeg2/vlc.h svn_keywords=Author+Date+Id+Revision
libvo/Attic/SHIT/video_out_gl.c.V3-sux svn_keywords=Author+Date+Id+Revision
libvo/Attic/SHIT/video_out_gl.c.diff svn_keywords=Author+Date+Id+Revision
libvo/Attic/SHIT/video_out_odivx.c.OLD svn_keywords=Author+Date+Id+Revision
libvo/Attic/SHIT/video_out_sdl.c-1.1.4 svn_keywords=Author+Date+Id+Revision
libvo/Attic/SHIT/video_out_x11.c.OLD svn_keywords=Author+Date+Id+Revision
libvo/Attic/SHIT/video_out_x11.c.thread svn_keywords=Author+Date+Id+Revision
libvo/Makefile svn_keywords=Author+Date+Id+Revision
libvo/mga_common.c svn_keywords=Author+Date+Id+Revision
libvo/mmx.h svn_keywords=Author+Date+Id+Revision
libvo/rgb15to16mmx.c svn_keywords=Author+Date+Id+Revision
libvo/sub.c svn_keywords=Author+Date+Id+Revision
libvo/video_out.c svn_keywords=Author+Date+Id+Revision
libvo/video_out.h svn_keywords=Author+Date+Id+Revision
libvo/video_out_internal.h svn_keywords=Author+Date+Id+Revision
libvo/vo_3dfx.c svn_keywords=Author+Date+Id+Revision
libvo/vo_dga.c svn_keywords=Author+Date+Id+Revision
libvo/vo_fsdga.c svn_keywords=Author+Date+Id+Revision
libvo/vo_gl.c svn_keywords=Author+Date+Id+Revision
libvo/vo_md5.c svn_keywords=Author+Date+Id+Revision
libvo/vo_mga.c svn_keywords=Author+Date+Id+Revision
libvo/vo_null.c svn_keywords=Author+Date+Id+Revision
libvo/vo_odivx.c svn_keywords=Author+Date+Id+Revision
libvo/vo_pgm.c svn_keywords=Author+Date+Id+Revision
libvo/vo_sdl.c svn_keywords=Author+Date+Id+Revision
libvo/vo_syncfb.c svn_keywords=Author+Date+Id+Revision
libvo/vo_x11.c svn_keywords=Author+Date+Id+Revision
libvo/vo_xmga.c svn_keywords=Author+Date+Id+Revision
libvo/vo_xv.c svn_keywords=Author+Date+Id+Revision
libvo/wskeys.h svn_keywords=Author+Date+Id+Revision
libvo/x11_common.c svn_keywords=Author+Date+Id+Revision
libvo/x11_common.h svn_keywords=Author+Date+Id+Revision
libvo/yuv2rgb.c svn_keywords=Author+Date+Id+Revision
libvo/yuv2rgb.h svn_keywords=Author+Date+Id+Revision
libvo/yuv2rgb_mlib.c svn_keywords=Author+Date+Id+Revision
libvo/yuv2rgb_mmx.c svn_keywords=Author+Date+Id+Revision
linux/getch2.c svn_keywords=Author+Date+Id+Revision
linux/getch2.h svn_keywords=Author+Date+Id+Revision
linux/keycodes.h svn_keywords=Author+Date+Id+Revision
linux/shmem.c svn_keywords=Author+Date+Id+Revision
linux/shmem.h svn_keywords=Author+Date+Id+Revision
linux/timer-lx.c svn_keywords=Author+Date+Id+Revision
linux/timer.h svn_keywords=Author+Date+Id+Revision
/lirc_mp.c svn_keywords=Author+Date+Id+Revision
/lirc_mp.h svn_keywords=Author+Date+Id+Revision
loader/Makefile svn_keywords=Author+Date+Id+Revision
loader/afl.c svn_keywords=Author+Date+Id+Revision
loader/com.h svn_keywords=Author+Date+Id+Revision
loader/config.h svn_keywords=Author+Date+Id+Revision
loader/driver.c svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_AudioDec.c svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_AudioDec.h svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_Filter.c svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_Filter.h svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_VideoDec.c svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_VideoDec.h svn_keywords=Author+Date+Id+Revision
loader/dshow/Makefile svn_keywords=Author+Date+Id+Revision
loader/dshow/allocator.c svn_keywords=Author+Date+Id+Revision
loader/dshow/allocator.h svn_keywords=Author+Date+Id+Revision
loader/dshow/cmediasample.c svn_keywords=Author+Date+Id+Revision
loader/dshow/cmediasample.h svn_keywords=Author+Date+Id+Revision
loader/dshow/guids.c svn_keywords=Author+Date+Id+Revision
loader/dshow/guids.h svn_keywords=Author+Date+Id+Revision
loader/dshow/inputpin.c svn_keywords=Author+Date+Id+Revision
loader/dshow/inputpin.h svn_keywords=Author+Date+Id+Revision
loader/dshow/interfaces.h svn_keywords=Author+Date+Id+Revision
loader/dshow/iunk.h svn_keywords=Author+Date+Id+Revision
loader/dshow/outputpin.c svn_keywords=Author+Date+Id+Revision
loader/dshow/outputpin.h svn_keywords=Author+Date+Id+Revision
loader/dshow/test.c svn_keywords=Author+Date+Id+Revision
loader/dshow/test.divx svneol=native#unset svn_keywords=Author+Date+Id+Revision
loader/elfdll.c svn_keywords=Author+Date+Id+Revision
loader/ext.c svn_keywords=Author+Date+Id+Revision
loader/loader.h svn_keywords=Author+Date+Id+Revision
loader/module.c svn_keywords=Author+Date+Id+Revision
loader/pe_image.c svn_keywords=Author+Date+Id+Revision
loader/pe_resource.c svn_keywords=Author+Date+Id+Revision
loader/registry.c svn_keywords=Author+Date+Id+Revision
loader/registry.h svn_keywords=Author+Date+Id+Revision
loader/resource.c svn_keywords=Author+Date+Id+Revision
loader/stubs.s svn_keywords=Author+Date+Id+Revision
loader/vfl.c svn_keywords=Author+Date+Id+Revision
loader/win32.c svn_keywords=Author+Date+Id+Revision
loader/win32.h svn_keywords=Author+Date+Id+Revision
loader/wine/avifmt.h svn_keywords=Author+Date+Id+Revision
loader/wine/basetsd.h svn_keywords=Author+Date+Id+Revision
loader/wine/config.h svn_keywords=Author+Date+Id+Revision
loader/wine/debugtools.h svn_keywords=Author+Date+Id+Revision
loader/wine/driver.h svn_keywords=Author+Date+Id+Revision
loader/wine/elfdll.h svn_keywords=Author+Date+Id+Revision
loader/wine/heap.h svn_keywords=Author+Date+Id+Revision
loader/wine/ldt.h svn_keywords=Author+Date+Id+Revision
loader/wine/mmreg.h svn_keywords=Author+Date+Id+Revision
loader/wine/module.h svn_keywords=Author+Date+Id+Revision
loader/wine/msacm.h svn_keywords=Author+Date+Id+Revision
loader/wine/msacmdrv.h svn_keywords=Author+Date+Id+Revision
loader/wine/ntdef.h svn_keywords=Author+Date+Id+Revision
loader/wine/pe_image.h svn_keywords=Author+Date+Id+Revision
loader/wine/poppack.h svn_keywords=Author+Date+Id+Revision
loader/wine/pshpack1.h svn_keywords=Author+Date+Id+Revision
loader/wine/pshpack2.h svn_keywords=Author+Date+Id+Revision
loader/wine/pshpack4.h svn_keywords=Author+Date+Id+Revision
loader/wine/pshpack8.h svn_keywords=Author+Date+Id+Revision
loader/wine/vfw.h svn_keywords=Author+Date+Id+Revision
loader/wine/winbase.h svn_keywords=Author+Date+Id+Revision
loader/wine/windef.h svn_keywords=Author+Date+Id+Revision
loader/wine/windows.h svn_keywords=Author+Date+Id+Revision
loader/wine/winerror.h svn_keywords=Author+Date+Id+Revision
loader/wine/winestring.h svn_keywords=Author+Date+Id+Revision
loader/wine/winnt.h svn_keywords=Author+Date+Id+Revision
loader/wine/winreg.h svn_keywords=Author+Date+Id+Revision
loader/wine/winuser.h svn_keywords=Author+Date+Id+Revision
loader/wineacm.h svn_keywords=Author+Date+Id+Revision
mp3lib/Makefile svn_keywords=Author+Date+Id+Revision
mp3lib/d_cpu.h svn_keywords=Author+Date+Id+Revision
mp3lib/d_cpu.s svn_keywords=Author+Date+Id+Revision
mp3lib/dct12.c svn_keywords=Author+Date+Id+Revision
mp3lib/dct36.c svn_keywords=Author+Date+Id+Revision
mp3lib/dct36_3dnow.s svn_keywords=Author+Date+Id+Revision
mp3lib/dct64.c svn_keywords=Author+Date+Id+Revision
mp3lib/dct64_3dnow.s svn_keywords=Author+Date+Id+Revision
mp3lib/dct64_i386.c svn_keywords=Author+Date+Id+Revision
mp3lib/decod386.c svn_keywords=Author+Date+Id+Revision
mp3lib/decode_3dnow.s svn_keywords=Author+Date+Id+Revision
mp3lib/decode_i586.s svn_keywords=Author+Date+Id+Revision
mp3lib/equalizer.c svn_keywords=Author+Date+Id+Revision
mp3lib/huffman.h svn_keywords=Author+Date+Id+Revision
mp3lib/l2tables.h svn_keywords=Author+Date+Id+Revision
mp3lib/layer2.c svn_keywords=Author+Date+Id+Revision
mp3lib/layer3.c svn_keywords=Author+Date+Id+Revision
mp3lib/mp3.h svn_keywords=Author+Date+Id+Revision
mp3lib/mpg123.h svn_keywords=Author+Date+Id+Revision
mp3lib/sr1.c svn_keywords=Author+Date+Id+Revision
mp3lib/tabinit.c svn_keywords=Author+Date+Id+Revision
/mplayer.c svn_keywords=Author+Date+Id+Revision
/mplayerHQ.c svn_keywords=Author+Date+Id+Revision
/parse_es.c svn_keywords=Author+Date+Id+Revision
/setup.sh svn_keywords=Author+Date+Id+Revision
/stream.c svn_keywords=Author+Date+Id+Revision
/tvision.c svn_keywords=Author+Date+Id+Revision
/vcd_read.h svn_keywords=Author+Date+Id+Revision
/version.h svn_keywords=Author+Date+Id+Revision
/videodev.h svn_keywords=Author+Date+Id+Revision
xa/xa_gsm.c svn_keywords=Author+Date+Id+Revision
xa/xa_gsm.h svn_keywords=Author+Date+Id+Revision
xa/xa_gsm_int.h svn_keywords=Author+Date+Id+Revision
