* text=auto !eol
/.cvsignore svn_keywords=Author+Date+Id+Revision
DOCS/German/bugreports.html svn_keywords=Author+Date+Id+Revision
DOCS/German/cd-dvd.html svn_keywords=Author+Date+Id+Revision
DOCS/German/codecs.html svn_keywords=Author+Date+Id+Revision
DOCS/German/documentation.html svn_keywords=Author+Date+Id+Revision
DOCS/German/sound.html svn_keywords=Author+Date+Id+Revision
DOCS/German/video.html svn_keywords=Author+Date+Id+Revision
DOCS/Hungarian/bugreports.html svn_keywords=Author+Date+Id+Revision
DOCS/Hungarian/cd-dvd.html svn_keywords=Author+Date+Id+Revision
DOCS/Hungarian/codecs.html svn_keywords=Author+Date+Id+Revision
DOCS/Hungarian/documentation.html svn_keywords=Author+Date+Id+Revision
DOCS/Hungarian/example.conf svn_keywords=Author+Date+Id+Revision
DOCS/Hungarian/faq.html svn_keywords=Author+Date+Id+Revision
DOCS/Hungarian/sound.html svn_keywords=Author+Date+Id+Revision
DOCS/Hungarian/video.html svn_keywords=Author+Date+Id+Revision
DOCS/Polish/BUGREPORTS svn_keywords=Author+Date+Id+Revision
DOCS/Polish/BUGS svn_keywords=Author+Date+Id+Revision
DOCS/Polish/CDROM svn_keywords=Author+Date+Id+Revision
DOCS/Polish/CODECS svn_keywords=Author+Date+Id+Revision
DOCS/Polish/Debian svn_keywords=Author+Date+Id+Revision
DOCS/Polish/FreeBSD svn_keywords=Author+Date+Id+Revision
DOCS/Polish/INSTALL svn_keywords=Author+Date+Id+Revision
DOCS/Polish/LIRC svn_keywords=Author+Date+Id+Revision
DOCS/Polish/MTRR svn_keywords=Author+Date+Id+Revision
DOCS/Polish/Makefile svn_keywords=Author+Date+Id+Revision
DOCS/Polish/OpenDivX svn_keywords=Author+Date+Id+Revision
DOCS/Polish/README svn_keywords=Author+Date+Id+Revision
DOCS/Polish/SDL svn_keywords=Author+Date+Id+Revision
DOCS/Polish/SOUNDCARDS svn_keywords=Author+Date+Id+Revision
DOCS/Polish/SUB+OSD svn_keywords=Author+Date+Id+Revision
DOCS/Polish/documentation.sgml svn_keywords=Author+Date+Id+Revision
DOCS/bugreports.html svn_keywords=Author+Date+Id+Revision
DOCS/cd-dvd.html svn_keywords=Author+Date+Id+Revision
DOCS/codecs-in.html svn_keywords=Author+Date+Id+Revision
DOCS/codecs.html svn_keywords=Author+Date+Id+Revision
DOCS/documentation.html svn_keywords=Author+Date+Id+Revision
DOCS/faq.html svn_keywords=Author+Date+Id+Revision
DOCS/mplayer.1 svn_keywords=Author+Date+Id+Revision
DOCS/sound.html svn_keywords=Author+Date+Id+Revision
DOCS/tech/general.txt svn_keywords=Author+Date+Id+Revision
DOCS/tech/mpsub.sub svn_keywords=Author+Date+Id+Revision
DOCS/tech/tech-hun.txt svn_keywords=Author+Date+Id+Revision
DOCS/video.html svn_keywords=Author+Date+Id+Revision
Gui/Makefile svn_keywords=Author+Date+Id+Revision
Gui/app.c svn_keywords=Author+Date+Id+Revision
Gui/app.h svn_keywords=Author+Date+Id+Revision
Gui/bitmap.c svn_keywords=Author+Date+Id+Revision
Gui/bitmap.h svn_keywords=Author+Date+Id+Revision
Gui/bitmap/Makefile svn_keywords=Author+Date+Id+Revision
Gui/bitmap/bitmap.c svn_keywords=Author+Date+Id+Revision
Gui/bitmap/bitmap.h svn_keywords=Author+Date+Id+Revision
Gui/bitmap/bitmap.mak svn_keywords=Author+Date+Id+Revision
Gui/bitmap/bmp/bmp.c svn_keywords=Author+Date+Id+Revision
Gui/bitmap/bmp/bmp.h svn_keywords=Author+Date+Id+Revision
Gui/bitmap/png/png.c svn_keywords=Author+Date+Id+Revision
Gui/bitmap/png/png.h svn_keywords=Author+Date+Id+Revision
Gui/bitmap/tga/tga.c svn_keywords=Author+Date+Id+Revision
Gui/bitmap/tga/tga.h svn_keywords=Author+Date+Id+Revision
Gui/error.c svn_keywords=Author+Date+Id+Revision
Gui/error.h svn_keywords=Author+Date+Id+Revision
Gui/events.c svn_keywords=Author+Date+Id+Revision
Gui/events.h svn_keywords=Author+Date+Id+Revision
Gui/gui.mak svn_keywords=Author+Date+Id+Revision
Gui/language.c svn_keywords=Author+Date+Id+Revision
Gui/language.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/Makefile svn_keywords=Author+Date+Id+Revision
Gui/mplayer/gtk/about.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/gtk/fs.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/gtk/mb.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/gtk/opts.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/gtk/pl.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/gtk/sb.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/menu.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/mplayer.c svn_keywords=Author+Date+Id+Revision
Gui/mplayer/mplayer.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/mw.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/about.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/cancel.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/dir.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/error.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/file.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/icon.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/logo.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/ok.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/question.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/stop.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/up.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/pixmaps/warning.xpm svn_keywords=Author+Date+Id+Revision
Gui/mplayer/play.c svn_keywords=Author+Date+Id+Revision
Gui/mplayer/play.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/psignal.c svn_keywords=Author+Date+Id+Revision
Gui/mplayer/psignal.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/sw.h svn_keywords=Author+Date+Id+Revision
Gui/mplayer/widgets.c svn_keywords=Author+Date+Id+Revision
Gui/mplayer/widgets.h svn_keywords=Author+Date+Id+Revision
Gui/skin/cut.c svn_keywords=Author+Date+Id+Revision
Gui/skin/cut.h svn_keywords=Author+Date+Id+Revision
Gui/skin/font.c svn_keywords=Author+Date+Id+Revision
Gui/skin/font.h svn_keywords=Author+Date+Id+Revision
Gui/skin/skin.c svn_keywords=Author+Date+Id+Revision
Gui/skin/skin.h svn_keywords=Author+Date+Id+Revision
Gui/timer.c svn_keywords=Author+Date+Id+Revision
Gui/timer.h svn_keywords=Author+Date+Id+Revision
Gui/wm/widget.h svn_keywords=Author+Date+Id+Revision
Gui/wm/ws.c svn_keywords=Author+Date+Id+Revision
Gui/wm/ws.h svn_keywords=Author+Date+Id+Revision
Gui/wm/wsconv.c svn_keywords=Author+Date+Id+Revision
Gui/wm/wsconv.h svn_keywords=Author+Date+Id+Revision
Gui/wm/wskeys.h svn_keywords=Author+Date+Id+Revision
Gui/wm/wsmkeys.h svn_keywords=Author+Date+Id+Revision
/Makefile svn_keywords=Author+Date+Id+Revision
TOOLS/GL-test/compile.sh svn_keywords=Author+Date+Id+Revision
TOOLS/GL-test/gltest.c svn_keywords=Author+Date+Id+Revision
TOOLS/alaw-gen.c svn_keywords=Author+Date+Id+Revision
TOOLS/asfinfo.c svn_keywords=Author+Date+Id+Revision
TOOLS/audio-block.c svn_keywords=Author+Date+Id+Revision
TOOLS/audio-block2.c svn_keywords=Author+Date+Id+Revision
TOOLS/audio-select.c svn_keywords=Author+Date+Id+Revision
TOOLS/blocking.c svn_keywords=Author+Date+Id+Revision
TOOLS/buffer.c svn_keywords=Author+Date+Id+Revision
TOOLS/c svn_keywords=Author+Date+Id+Revision
TOOLS/cache.c svn_keywords=Author+Date+Id+Revision
TOOLS/cache2.c svn_keywords=Author+Date+Id+Revision
TOOLS/cpuinfo.c svn_keywords=Author+Date+Id+Revision
TOOLS/fastmem.sh svn_keywords=Author+Date+Id+Revision
TOOLS/fastmemcpybench.c svn_keywords=Author+Date+Id+Revision
TOOLS/movinfo.c svn_keywords=Author+Date+Id+Revision
TOOLS/mp.pl svn_keywords=Author+Date+Id+Revision
TOOLS/mpfc/Makefile svn_keywords=Author+Date+Id+Revision
TOOLS/mpfc/mpfc-ce.c svn_keywords=Author+Date+Id+Revision
TOOLS/mpfc/mpfc-kr.c svn_keywords=Author+Date+Id+Revision
TOOLS/perlbench.pl svn_keywords=Author+Date+Id+Revision
TOOLS/png2raw.c svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/Makefile svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/README svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/encodings/charmap2enc svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/encodings/osd-mplayer svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/encodings/runme-kr svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/font.desc.tail svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/osd/README svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/osd/gen.py svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/osd/osd.pfb -text
TOOLS/subfont-c/osd/runme svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/runme svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-c/subfont.c svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-gimp/Makefile svn_keywords=Author+Date+Id+Revision
TOOLS/subfont-gimp/mplayer_subfont svn_keywords=Author+Date+Id+Revision
TVout/Mon-640x400 svn_keywords=Author+Date+Id+Revision
TVout/Mon-640x480 svn_keywords=Author+Date+Id+Revision
TVout/TV-640x512 svn_keywords=Author+Date+Id+Revision
TVout/TV-640x528 svn_keywords=Author+Date+Id+Revision
TVout/TV-704x528 svn_keywords=Author+Date+Id+Revision
TVout/TV-704x576 svn_keywords=Author+Date+Id+Revision
TVout/TV-720x576 svn_keywords=Author+Date+Id+Revision
TVout/TV-720x576-old svn_keywords=Author+Date+Id+Revision
TVout/clean.sh svn_keywords=Author+Date+Id+Revision
TVout/cloning svn_keywords=Author+Date+Id+Revision
TVout/compile.sh svn_keywords=Author+Date+Id+Revision
TVout/con2fb/con2fb.c svn_keywords=Author+Date+Id+Revision
TVout/fbset.db svn_keywords=Author+Date+Id+Revision
TVout/fbset/INSTALL svn_keywords=Author+Date+Id+Revision
TVout/fbset/Makefile svn_keywords=Author+Date+Id+Revision
TVout/fbset/fb.h svn_keywords=Author+Date+Id+Revision
TVout/fbset/fb.modes.5 svn_keywords=Author+Date+Id+Revision
TVout/fbset/fbset.8 svn_keywords=Author+Date+Id+Revision
TVout/fbset/fbset.c svn_keywords=Author+Date+Id+Revision
TVout/fbset/fbset.h svn_keywords=Author+Date+Id+Revision
TVout/fbset/modeline2fb svn_keywords=Author+Date+Id+Revision
TVout/fbset/modes.l svn_keywords=Author+Date+Id+Revision
TVout/fbset/modes.y svn_keywords=Author+Date+Id+Revision
TVout/independ svn_keywords=Author+Date+Id+Revision
TVout/matroxset/Makefile svn_keywords=Author+Date+Id+Revision
TVout/matroxset/fb.h svn_keywords=Author+Date+Id+Revision
TVout/matroxset/matroxfb.h svn_keywords=Author+Date+Id+Revision
TVout/matroxset/matroxset.c svn_keywords=Author+Date+Id+Revision
TVout/matroxset/normal svn_keywords=Author+Date+Id+Revision
TVout/matroxset/swapit svn_keywords=Author+Date+Id+Revision
TVout/matroxset/swapped svn_keywords=Author+Date+Id+Revision
TVout/modules svn_keywords=Author+Date+Id+Revision
/ac3-iec958.c svn_keywords=Author+Date+Id+Revision
/ac3-iec958.h svn_keywords=Author+Date+Id+Revision
/alaw.h svn_keywords=Author+Date+Id+Revision
/asf.h svn_keywords=Author+Date+Id+Revision
/asf_streaming.c svn_keywords=Author+Date+Id+Revision
/asfheader.c svn_keywords=Author+Date+Id+Revision
/aviheader.c svn_keywords=Author+Date+Id+Revision
/aviheader.h svn_keywords=Author+Date+Id+Revision
/aviprint.c svn_keywords=Author+Date+Id+Revision
/aviwrite.c svn_keywords=Author+Date+Id+Revision
/bswap.h svn_keywords=Author+Date+Id+Revision
/cfg-mplayer-def.h svn_keywords=Author+Date+Id+Revision
/cfg-mplayer.h svn_keywords=Author+Date+Id+Revision
/cfgparser.c svn_keywords=Author+Date+Id+Revision
/cfgparser.h svn_keywords=Author+Date+Id+Revision
/codec-cfg.c svn_keywords=Author+Date+Id+Revision
/codec-cfg.h svn_keywords=Author+Date+Id+Revision
/configure svn_keywords=Author+Date+Id+Revision
debian/README.debian svn_keywords=Author+Date+Id+Revision
debian/TODO.Debian svn_keywords=Author+Date+Id+Revision
debian/changelog svn_keywords=Author+Date+Id+Revision
debian/config svn_keywords=Author+Date+Id+Revision
debian/control svn_keywords=Author+Date+Id+Revision
debian/copyright svn_keywords=Author+Date+Id+Revision
debian/dirs svn_keywords=Author+Date+Id+Revision
debian/menu svn_keywords=Author+Date+Id+Revision
debian/postinst svn_keywords=Author+Date+Id+Revision
debian/postinst.templates svn_keywords=Author+Date+Id+Revision
debian/rules svn_keywords=Author+Date+Id+Revision
debian/templates svn_keywords=Author+Date+Id+Revision
/dec_audio.c svn_keywords=Author+Date+Id+Revision
/dec_video.c svn_keywords=Author+Date+Id+Revision
/demux_asf.c svn_keywords=Author+Date+Id+Revision
/demux_avi.c svn_keywords=Author+Date+Id+Revision
/demux_mov.c svn_keywords=Author+Date+Id+Revision
/demux_mpg.c svn_keywords=Author+Date+Id+Revision
/demuxer.c svn_keywords=Author+Date+Id+Revision
/demuxer.h svn_keywords=Author+Date+Id+Revision
/dll_init.c svn_keywords=Author+Date+Id+Revision
drivers/3dfx.h svn_keywords=Author+Date+Id+Revision
drivers/Makefile svn_keywords=Author+Date+Id+Revision
drivers/README svn_keywords=Author+Date+Id+Revision
drivers/mga_vid.c svn_keywords=Author+Date+Id+Revision
drivers/mga_vid.h svn_keywords=Author+Date+Id+Revision
drivers/mga_vid_test.c svn_keywords=Author+Date+Id+Revision
drivers/sis_vid.c svn_keywords=Author+Date+Id+Revision
drivers/sis_vid.h svn_keywords=Author+Date+Id+Revision
/dvdauth.c svn_keywords=Author+Date+Id+Revision
/dvdauth.h svn_keywords=Author+Date+Id+Revision
etc/codecs.conf svn_keywords=Author+Date+Id+Revision
etc/example.conf svn_keywords=Author+Date+Id+Revision
etc/inttypes.h svn_keywords=Author+Date+Id+Revision
/fibmap_mplayer.c svn_keywords=Author+Date+Id+Revision
/fifo.c svn_keywords=Author+Date+Id+Revision
/find_sub.c svn_keywords=Author+Date+Id+Revision
/help_mp-de.h svn_keywords=Author+Date+Id+Revision
/help_mp-en.h svn_keywords=Author+Date+Id+Revision
/help_mp-hu.h svn_keywords=Author+Date+Id+Revision
/help_mp-pl.h svn_keywords=Author+Date+Id+Revision
/http.c svn_keywords=Author+Date+Id+Revision
/http.h svn_keywords=Author+Date+Id+Revision
liba52/srfftp.h svn_keywords=Author+Date+Id+Revision
liba52/srfftp_3dnow.h svn_keywords=Author+Date+Id+Revision
libao2/.cvsignore svn_keywords=Author+Date+Id+Revision
libao2/Makefile svn_keywords=Author+Date+Id+Revision
libao2/afmt.h svn_keywords=Author+Date+Id+Revision
libao2/ao_alsa1x.c svn_keywords=Author+Date+Id+Revision
libao2/ao_alsa5.c svn_keywords=Author+Date+Id+Revision
libao2/ao_alsa9.c svn_keywords=Author+Date+Id+Revision
libao2/ao_null.c svn_keywords=Author+Date+Id+Revision
libao2/ao_oss.c svn_keywords=Author+Date+Id+Revision
libao2/ao_pcm.c svn_keywords=Author+Date+Id+Revision
libao2/ao_sdl.c svn_keywords=Author+Date+Id+Revision
libao2/ao_sun.c svn_keywords=Author+Date+Id+Revision
libao2/audio_out.c svn_keywords=Author+Date+Id+Revision
libao2/audio_out.h svn_keywords=Author+Date+Id+Revision
libao2/audio_out_internal.h svn_keywords=Author+Date+Id+Revision
libmpeg2/Makefile svn_keywords=Author+Date+Id+Revision
libmpeg2/attributes.h svn_keywords=Author+Date+Id+Revision
libmpeg2/decode.c svn_keywords=Author+Date+Id+Revision
libmpeg2/header.c svn_keywords=Author+Date+Id+Revision
libmpeg2/idct.c svn_keywords=Author+Date+Id+Revision
libmpeg2/idct_mlib.c svn_keywords=Author+Date+Id+Revision
libmpeg2/idct_mmx.c svn_keywords=Author+Date+Id+Revision
libmpeg2/mm_accel.h svn_keywords=Author+Date+Id+Revision
libmpeg2/mmx.h svn_keywords=Author+Date+Id+Revision
libmpeg2/motion_comp.c svn_keywords=Author+Date+Id+Revision
libmpeg2/motion_comp_mlib.c svn_keywords=Author+Date+Id+Revision
libmpeg2/motion_comp_mmx.c svn_keywords=Author+Date+Id+Revision
libmpeg2/mpeg2.h svn_keywords=Author+Date+Id+Revision
libmpeg2/mpeg2_internal.h svn_keywords=Author+Date+Id+Revision
libmpeg2/slice.c svn_keywords=Author+Date+Id+Revision
libmpeg2/sse.h svn_keywords=Author+Date+Id+Revision
libmpeg2/stats.c svn_keywords=Author+Date+Id+Revision
libmpeg2/vlc.h svn_keywords=Author+Date+Id+Revision
libvo/.cvsignore svn_keywords=Author+Date+Id+Revision
libvo/Makefile svn_keywords=Author+Date+Id+Revision
libvo/aclib.c svn_keywords=Author+Date+Id+Revision
libvo/aclib_template.c svn_keywords=Author+Date+Id+Revision
libvo/fastmemcpy.h svn_keywords=Author+Date+Id+Revision
libvo/font_load.c svn_keywords=Author+Date+Id+Revision
libvo/font_load.h svn_keywords=Author+Date+Id+Revision
libvo/img_format.h svn_keywords=Author+Date+Id+Revision
libvo/mga_common.c svn_keywords=Author+Date+Id+Revision
libvo/mmx.h svn_keywords=Author+Date+Id+Revision
libvo/osd.c svn_keywords=Author+Date+Id+Revision
libvo/osd.h svn_keywords=Author+Date+Id+Revision
libvo/osd_template.c svn_keywords=Author+Date+Id+Revision
libvo/rgb15to16mmx.c svn_keywords=Author+Date+Id+Revision
libvo/sub.c svn_keywords=Author+Date+Id+Revision
libvo/sub.h svn_keywords=Author+Date+Id+Revision
libvo/video_out.c svn_keywords=Author+Date+Id+Revision
libvo/video_out.h svn_keywords=Author+Date+Id+Revision
libvo/video_out_internal.h svn_keywords=Author+Date+Id+Revision
libvo/vo_3dfx.c svn_keywords=Author+Date+Id+Revision
libvo/vo_aa.c svn_keywords=Author+Date+Id+Revision
libvo/vo_dga.c svn_keywords=Author+Date+Id+Revision
libvo/vo_fbdev.c svn_keywords=Author+Date+Id+Revision
libvo/vo_fsdga.c svn_keywords=Author+Date+Id+Revision
libvo/vo_ggi.c svn_keywords=Author+Date+Id+Revision
libvo/vo_gl.c svn_keywords=Author+Date+Id+Revision
libvo/vo_md5.c svn_keywords=Author+Date+Id+Revision
libvo/vo_mga.c svn_keywords=Author+Date+Id+Revision
libvo/vo_mpegpes.c svn_keywords=Author+Date+Id+Revision
libvo/vo_null.c svn_keywords=Author+Date+Id+Revision
libvo/vo_odivx.c svn_keywords=Author+Date+Id+Revision
libvo/vo_pgm.c svn_keywords=Author+Date+Id+Revision
libvo/vo_png.c svn_keywords=Author+Date+Id+Revision
libvo/vo_sdl.c svn_keywords=Author+Date+Id+Revision
libvo/vo_svga.c svn_keywords=Author+Date+Id+Revision
libvo/vo_syncfb.c svn_keywords=Author+Date+Id+Revision
libvo/vo_x11.c svn_keywords=Author+Date+Id+Revision
libvo/vo_xmga.c svn_keywords=Author+Date+Id+Revision
libvo/vo_xv.c svn_keywords=Author+Date+Id+Revision
libvo/wskeys.h svn_keywords=Author+Date+Id+Revision
libvo/x11_common.c svn_keywords=Author+Date+Id+Revision
libvo/x11_common.h svn_keywords=Author+Date+Id+Revision
libvo/yuv2rgb.c svn_keywords=Author+Date+Id+Revision
libvo/yuv2rgb.h svn_keywords=Author+Date+Id+Revision
libvo/yuv2rgb_mlib.c svn_keywords=Author+Date+Id+Revision
libvo/yuv2rgb_mmx.c svn_keywords=Author+Date+Id+Revision
linux/getch2.c svn_keywords=Author+Date+Id+Revision
linux/getch2.h svn_keywords=Author+Date+Id+Revision
linux/keycodes.h svn_keywords=Author+Date+Id+Revision
linux/shmem.c svn_keywords=Author+Date+Id+Revision
linux/shmem.h svn_keywords=Author+Date+Id+Revision
linux/timer-lx.c svn_keywords=Author+Date+Id+Revision
linux/timer.h svn_keywords=Author+Date+Id+Revision
/lirc_mp.c svn_keywords=Author+Date+Id+Revision
/lirc_mp.h svn_keywords=Author+Date+Id+Revision
loader/Makefile svn_keywords=Author+Date+Id+Revision
loader/afl.c svn_keywords=Author+Date+Id+Revision
loader/com.h svn_keywords=Author+Date+Id+Revision
loader/driver.c svn_keywords=Author+Date+Id+Revision
loader/driver.h svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_AudioDec.c svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_AudioDec.h svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_AudioDecoder.c svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_AudioDecoder.h svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_Filter.c svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_Filter.h svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_VideoDec.c svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_VideoDec.h svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_VideoDecoder.c svn_keywords=Author+Date+Id+Revision
loader/dshow/DS_VideoDecoder.h svn_keywords=Author+Date+Id+Revision
loader/dshow/Makefile svn_keywords=Author+Date+Id+Revision
loader/dshow/allocator.c svn_keywords=Author+Date+Id+Revision
loader/dshow/allocator.h svn_keywords=Author+Date+Id+Revision
loader/dshow/cmediasample.c svn_keywords=Author+Date+Id+Revision
loader/dshow/cmediasample.h svn_keywords=Author+Date+Id+Revision
loader/dshow/guids.c svn_keywords=Author+Date+Id+Revision
loader/dshow/guids.h svn_keywords=Author+Date+Id+Revision
loader/dshow/inputpin.c svn_keywords=Author+Date+Id+Revision
loader/dshow/inputpin.h svn_keywords=Author+Date+Id+Revision
loader/dshow/interfaces.h svn_keywords=Author+Date+Id+Revision
loader/dshow/iunk.h svn_keywords=Author+Date+Id+Revision
loader/dshow/libwin32.h svn_keywords=Author+Date+Id+Revision
loader/dshow/outputpin.c svn_keywords=Author+Date+Id+Revision
loader/dshow/outputpin.h svn_keywords=Author+Date+Id+Revision
loader/dshow/test.c svn_keywords=Author+Date+Id+Revision
loader/dshow/test.divx svneol=native#unset svn_keywords=Author+Date+Id+Revision
loader/elfdll.c svn_keywords=Author+Date+Id+Revision
loader/ext.c svn_keywords=Author+Date+Id+Revision
loader/ext.h svn_keywords=Author+Date+Id+Revision
loader/loader.h svn_keywords=Author+Date+Id+Revision
loader/module.c svn_keywords=Author+Date+Id+Revision
loader/pe_image.c svn_keywords=Author+Date+Id+Revision
loader/pe_resource.c svn_keywords=Author+Date+Id+Revision
loader/registry.c svn_keywords=Author+Date+Id+Revision
loader/registry.h svn_keywords=Author+Date+Id+Revision
loader/resource.c svn_keywords=Author+Date+Id+Revision
loader/setup_FS.c svn_keywords=Author+Date+Id+Revision
loader/setup_FS.h svn_keywords=Author+Date+Id+Revision
loader/stubs.s svn_keywords=Author+Date+Id+Revision
loader/vfl.c svn_keywords=Author+Date+Id+Revision
loader/win32.c svn_keywords=Author+Date+Id+Revision
loader/win32.h svn_keywords=Author+Date+Id+Revision
loader/wine/avifmt.h svn_keywords=Author+Date+Id+Revision
loader/wine/basetsd.h svn_keywords=Author+Date+Id+Revision
loader/wine/debugtools.h svn_keywords=Author+Date+Id+Revision
loader/wine/driver.h svn_keywords=Author+Date+Id+Revision
loader/wine/elfdll.h svn_keywords=Author+Date+Id+Revision
loader/wine/heap.h svn_keywords=Author+Date+Id+Revision
loader/wine/ldt.h svn_keywords=Author+Date+Id+Revision
loader/wine/mmreg.h svn_keywords=Author+Date+Id+Revision
loader/wine/module.h svn_keywords=Author+Date+Id+Revision
loader/wine/msacm.h svn_keywords=Author+Date+Id+Revision
loader/wine/msacmdrv.h svn_keywords=Author+Date+Id+Revision
loader/wine/ntdef.h svn_keywords=Author+Date+Id+Revision
loader/wine/pe_image.h svn_keywords=Author+Date+Id+Revision
loader/wine/poppack.h svn_keywords=Author+Date+Id+Revision
loader/wine/pshpack1.h svn_keywords=Author+Date+Id+Revision
loader/wine/pshpack2.h svn_keywords=Author+Date+Id+Revision
loader/wine/pshpack4.h svn_keywords=Author+Date+Id+Revision
loader/wine/pshpack8.h svn_keywords=Author+Date+Id+Revision
loader/wine/vfw.h svn_keywords=Author+Date+Id+Revision
loader/wine/winbase.h svn_keywords=Author+Date+Id+Revision
loader/wine/windef.h svn_keywords=Author+Date+Id+Revision
loader/wine/windows.h svn_keywords=Author+Date+Id+Revision
loader/wine/winerror.h svn_keywords=Author+Date+Id+Revision
loader/wine/winestring.h svn_keywords=Author+Date+Id+Revision
loader/wine/winnt.h svn_keywords=Author+Date+Id+Revision
loader/wine/winreg.h svn_keywords=Author+Date+Id+Revision
loader/wine/winuser.h svn_keywords=Author+Date+Id+Revision
loader/wineacm.h svn_keywords=Author+Date+Id+Revision
/mixer.c svn_keywords=Author+Date+Id+Revision
/mixer.h svn_keywords=Author+Date+Id+Revision
mp3lib/.cvsignore svn_keywords=Author+Date+Id+Revision
mp3lib/Makefile svn_keywords=Author+Date+Id+Revision
mp3lib/bswap.h svn_keywords=Author+Date+Id+Revision
mp3lib/d_cpu.h svn_keywords=Author+Date+Id+Revision
mp3lib/d_cpu.s svn_keywords=Author+Date+Id+Revision
mp3lib/dct12.c svn_keywords=Author+Date+Id+Revision
mp3lib/dct36.c svn_keywords=Author+Date+Id+Revision
mp3lib/dct36_3dnow.s svn_keywords=Author+Date+Id+Revision
mp3lib/dct36_k7.s svn_keywords=Author+Date+Id+Revision
mp3lib/dct64.c svn_keywords=Author+Date+Id+Revision
mp3lib/dct64_3dnow.s svn_keywords=Author+Date+Id+Revision
mp3lib/dct64_MMX.s svn_keywords=Author+Date+Id+Revision
mp3lib/dct64_i386.c svn_keywords=Author+Date+Id+Revision
mp3lib/dct64_k7.s svn_keywords=Author+Date+Id+Revision
mp3lib/dct64_sse.s svn_keywords=Author+Date+Id+Revision
mp3lib/decod386.c svn_keywords=Author+Date+Id+Revision
mp3lib/decode_MMX.s svn_keywords=Author+Date+Id+Revision
mp3lib/decode_i586.s svn_keywords=Author+Date+Id+Revision
mp3lib/equalizer.c svn_keywords=Author+Date+Id+Revision
mp3lib/fastmemcpy.h svn_keywords=Author+Date+Id+Revision
mp3lib/huffman.h svn_keywords=Author+Date+Id+Revision
mp3lib/l2tables.h svn_keywords=Author+Date+Id+Revision
mp3lib/layer2.c svn_keywords=Author+Date+Id+Revision
mp3lib/layer3.c svn_keywords=Author+Date+Id+Revision
mp3lib/mp3.h svn_keywords=Author+Date+Id+Revision
mp3lib/mpg123.h svn_keywords=Author+Date+Id+Revision
mp3lib/sr1.c svn_keywords=Author+Date+Id+Revision
mp3lib/tabinit.c svn_keywords=Author+Date+Id+Revision
mp3lib/tabinit_MMX.s svn_keywords=Author+Date+Id+Revision
mp3lib/test.c svn_keywords=Author+Date+Id+Revision
mp3lib/test2.c svn_keywords=Author+Date+Id+Revision
/mp_msg.c svn_keywords=Author+Date+Id+Revision
/mp_msg.h svn_keywords=Author+Date+Id+Revision
/mplayer.c svn_keywords=Author+Date+Id+Revision
/mplayer.h svn_keywords=Author+Date+Id+Revision
/network.c svn_keywords=Author+Date+Id+Revision
/network.h svn_keywords=Author+Date+Id+Revision
/open.c svn_keywords=Author+Date+Id+Revision
/parse_es.c svn_keywords=Author+Date+Id+Revision
/parse_es.h svn_keywords=Author+Date+Id+Revision
/spudec.c svn_keywords=Author+Date+Id+Revision
/spudec.h svn_keywords=Author+Date+Id+Revision
/stheader.h svn_keywords=Author+Date+Id+Revision
/stream.c svn_keywords=Author+Date+Id+Revision
/stream.h svn_keywords=Author+Date+Id+Revision
/subreader.c svn_keywords=Author+Date+Id+Revision
/subreader.h svn_keywords=Author+Date+Id+Revision
/tvision.c svn_keywords=Author+Date+Id+Revision
/url.c svn_keywords=Author+Date+Id+Revision
/url.h svn_keywords=Author+Date+Id+Revision
/vcd_read.h svn_keywords=Author+Date+Id+Revision
/vcd_read_fbsd.h svn_keywords=Author+Date+Id+Revision
/version.sh svn_keywords=Author+Date+Id+Revision
/videodev.h svn_keywords=Author+Date+Id+Revision
xa/xa_gsm.c svn_keywords=Author+Date+Id+Revision
xa/xa_gsm.h svn_keywords=Author+Date+Id+Revision
xa/xa_gsm_int.h svn_keywords=Author+Date+Id+Revision
