/*.d
/*.exe
/*.ho
DOCS/HTML
DOCS/HTML-single
DOCS/codecs-status.html
DOCS/tech/doxygen
DOCS/xml/cs/main.xml
DOCS/xml/de/main.xml
DOCS/xml/en/main.xml
DOCS/xml/es/main.xml
DOCS/xml/fr/main.xml
DOCS/xml/html-chunk.xsl
DOCS/xml/html-single.xsl
DOCS/xml/hu/main.xml
DOCS/xml/it/encoding-guide.xml
DOCS/xml/it/main.xml
DOCS/xml/it/ports.xml
DOCS/xml/it/skin.xml
DOCS/xml/pl/main.xml
DOCS/xml/ru/main.xml
DOCS/xml/xmllint.sh
DOCS/xml/xsltproc.sh
DOCS/xml/zh_CN/codecs.xml
DOCS/xml/zh_CN/containers.xml
DOCS/xml/zh_CN/encoding-guide.xml
DOCS/xml/zh_CN/faq.xml
DOCS/xml/zh_CN/history.xml
DOCS/xml/zh_CN/install.xml
DOCS/xml/zh_CN/main.xml
DOCS/xml/zh_CN/ports.xml
DOCS/xml/zh_CN/skin.xml
DOCS/xml/zh_CN/tvinput.xml
DOCS/xml/zh_CN/usage.xml
DOCS/xml/zh_CN/video.xml
/TAGS
TOOLS/*.exe
TOOLS/alaw-gen
TOOLS/alaw.dat
TOOLS/alaw.out
TOOLS/asfinfo
TOOLS/avi-fix
TOOLS/avisubdump
TOOLS/bmovl-test
TOOLS/compare
TOOLS/cpuinfo
TOOLS/dump_mp4
TOOLS/fastmemcpybench
TOOLS/modify_reg
TOOLS/movinfo
TOOLS/netstream
TOOLS/realcodecs/*.so.6.0
TOOLS/subrip
TOOLS/vivodump
/codec-cfg
/codec-cfg-test
/codecs.conf.h
/codecs2html
/config.h
/config.mak
/configure.log
/cpuinfo
debian/files
debian/mplayer
debian/mplayer.postinst.debhelper
debian/mplayer.postrm.debhelper
debian/mplayer.prerm.debhelper
debian/mplayer.substvars
drivers/mga_vid_test
drivers/tdfx_vid_test
/gmplayer
gui/*.d
gui/*.ho
gui/mplayer/*.d
gui/mplayer/*.ho
gui/mplayer/gtk/*.d
gui/mplayer/gtk/*.ho
gui/skin/*.d
gui/skin/*.ho
gui/win32/*.d
gui/win32/*.ho
gui/wm/*.d
gui/wm/*.ho
/help_mp.h
input/*.d
input/*.ho
liba52/*.d
liba52/*.ho
liba52/test
libaf/*.d
libaf/*.ho
libao2/*.d
libao2/*.ho
libass/*.d
libass/*.ho
libdvdcss/*.d
libdvdcss/*.ho
libfaad2/*.d
libfaad2/*.ho
libmenu/*.d
libmenu/*.ho
libmpcodecs/*.d
libmpcodecs/*.ho
libmpcodecs/native/*.d
libmpcodecs/native/*.ho
libmpdemux/*.d
libmpdemux/*.ho
libmpeg2/*.d
libmpeg2/*.ho
libswscale/*.d
libswscale/*.ho
libswscale/cs_test
libswscale/libswscale*
libswscale/swscale-example
libvo/*.d
libvo/*.ho
libvo/aspecttest
loader/*.d
loader/*.ho
loader/dmo/*.d
loader/dmo/*.ho
loader/dshow/*.d
loader/dshow/*.ho
loader/qtx/list
loader/qtx/qtxload
/mencoder
mp3lib/*.d
mp3lib/*.ho
mp3lib/test
mp3lib/test2
/mplayer
osdep/*.d
osdep/*.ho
stream/*.d
stream/*.ho
stream/freesdp/*.d
stream/freesdp/*.ho
stream/librtsp/*.d
stream/librtsp/*.ho
stream/realrtsp/*.d
stream/realrtsp/*.ho
/tags
tremor/*.d
tremor/*.ho
/version.h
vidix/*.d
vidix/*.ho
vidix/dhahelper/test
vidix/dhahelperwin/dhahelper.sys
vidix/pci_*.c
vidix/pci_*.h
