/.depend
/.developer
Gui/.depend
Gui/config.mak
Gui/mplayer/.depend
/config.h
/config.mak
/configure.log
/help_mp.h
libao2/.depend
libao2/config.mak
libao2/config2.mak
libmpdemux/.depend
libmpeg2/.depend
libvo/.depend
libvo/config.mak
linux/.depend
loader/dshow/.depend
/mencoder
mp3lib/.depend
mp3lib/config.mak
/mplayer
postproc/.depend
/version.h
